#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 1280px;
}

#container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
  line-height: 0.3;
  margin: 5px 0;
}
h3{
  margin: 0;
}

.template-box{
  background-color: white;
  border: 1.5px solid rgb(181, 181, 181);
  padding: 1.25rem;
  border-radius: 8px;
}

#profile-btn{
  background-color: rgb(234, 234, 234);
  border: 1.5px solid rgb(181, 181, 181);
  width: 100%;
  text-align: left;
}

#content-flex{
  margin-top: 5px;
  display: flex;
  gap: 20px;
}

.content-box{
  flex: 1;  
  max-height: 505px;
  overflow: hidden;
}

#form-submit{
  width: 100%;
  margin-top: 12px;
  padding: 10px;
}

.blue-btn{
    background-color: #535bf2;
  color: white;
}

#form-submit-edit{
  display: flex;
  gap: 10px;
  justify-content: end;
  margin: 30px 0;
}
#form-submit-edit button{
  padding: 10px 20px;
}

.form-ele-div{
  margin: 16px 0;
  width: 100%;
}

#profile-selection-container{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-height: 50px;
  padding: 6px;
}

.input-fields{
  border: 1.5px solid rgb(207, 207, 207);
  background-color: rgb(234, 234, 234);
  border-radius: 6px;
  padding: 10px;
}

#timezone{
  display: block;
  width: 100%;
  margin-top: 8px;
}

.medium-weight{
  font-weight:500;
}

.profile-selection-unit{
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 2px;
}

#profiles-list-container{
  padding: 10px;
}

#profiles-list-container ul{
  list-style: none;
  padding: 0;
}

#profile-name-field{
  flex:0.7;
}
#add-profile-btn{
  flex:0.3;
  background-color: #535bf2;
  color: white;
}

.profile-list-item.selected{
  background-color: #535bf2;
  color: white;
}

#toast-container{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 50%;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}

#modal-bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn{
  position: absolute;
  right: 10px;
  top: 10px;
}

.scrollable{
  overflow-y: auto;
}

.log-item-box{
  border: 1px solid rgb(181, 181, 181);
  border-radius: 6px;
  padding: 6px;
}

.edit-box{
  max-width: 500px;
}

.date-parent-container{
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: 8px;
}

.small-size{
  font-size:smaller;
}
