#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 1280px;
}

#container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  line-height: 0.3;
}
h3{
  line-height: 0.2;
}

#profile-btn{
  background-color: rgb(234, 234, 234);
  border: 1.5px solid rgb(181, 181, 181);
}

#content-flex{
  margin-top: 16px;
  display: flex;
  gap: 20px;
}

.content-box{
  flex: 1;
  background-color: white;
  border: 1.5px solid rgb(181, 181, 181);
  border-radius: 8px;
  padding: 1.25rem;
}

#form-submit{
  width: 100%;
  background-color: #535bf2;
  color: white;
}

.form-ele-div{
  margin: 10px 0;
  width: 100%;
}
