#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 1280px;
}

#container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  line-height: 0.3;
}
h3{
  line-height: 0.2;
}

.template-box{
  background-color: white;
  border: 1.5px solid rgb(181, 181, 181);
  padding: 1.25rem;
  border-radius: 8px;
}

#profile-btn{
  background-color: rgb(234, 234, 234);
  border: 1.5px solid rgb(181, 181, 181);
  width: 100%;
  text-align: left;
}

#content-flex{
  margin-top: 16px;
  display: flex;
  gap: 20px;
}

.content-box{
  flex: 1;
  background-color: white;
  border: 1.5px solid rgb(181, 181, 181);
  border-radius: 8px;
  padding: 1.25rem;
}

#form-submit{
  width: 100%;
  background-color: #535bf2;
  color: white;
}

.form-ele-div{
  margin: 10px 0;
  width: 100%;
}

#profiles-list-container{
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  border: 1.5px solid rgb(181, 181, 181);
}

#profiles-list-container ul{
  list-style: none;
  padding: 0;
}

#profile-name-field{
  flex:0.7;
}
#add-profile-btn{
  flex:0.3;
  background-color: #535bf2;
  color: white;
}

.profile-list-item.selected{
  background-color: #535bf2;
  color: white;
}

#toast-container{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 50%;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}

#modal-bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn{
  position: absolute;
  right: 10px;
  top: 10px;
}

.scrrollable{
  overflow-y: auto;
}

.log-item-box{
  border: 1px solid rgb(181, 181, 181);
  border-radius: 6px;
  padding: 6px;
}
